<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT messageBoard ANY>
<!ATTLIST messageBoard id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT homePAge ANY>
<!ATTLIST homePAge id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT projectsItem ANY>
<!ATTLIST projectsItem id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT comment ANY>
<!ATTLIST comment id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
]>
<root id="-1">
  <homePAge id="1127" key="06ba3340-e01a-4a1f-96b3-c06f2dab4328" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2017-10-08T11:30:04" updateDate="2017-10-11T14:21:15" nodeName="HomePage" urlName="homepage" path="-1,1127" isDoc="" nodeType="1062" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1051" nodeTypeAlias="homePAge">
    <umbracoNaviHide>0</umbracoNaviHide>
    <mainContent><![CDATA[<p>Some content</p>]]></mainContent>
    <about id="1096" key="f633f54d-b47c-4b11-b96e-08b3bb454de7" parentID="1127" level="2" creatorID="0" sortOrder="1" createDate="2017-10-04T22:06:16" updateDate="2017-10-11T14:11:17" nodeName="About" urlName="about" path="-1,1127,1096" isDoc="" nodeType="1092" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1091" nodeTypeAlias="about">
      <umbracoNaviHide>0</umbracoNaviHide>
      <gridLayout><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Headline",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "- Our Mission -\nTo provide the most actionable app store data.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                },
                {
                  "value": "<p>About</p>\n<p>At Apptopia, we all come to work every day because we want to solve the biggest problem in mobile. Everyone is guessing. Publishers don’t know what apps to build, how to monetize them, or even what to price them at. Advertisers &amp; brands don’t know where their target users are, how to reach them, or even how much they need to spend in order to do so. Investors aren’t sure which apps and genres are growing the quickest, and where users are really spending their time (and money).</p>\n<p>Throughout the history of business, people use data to make more informed decisions. Our mission at Apptopia is to make the app economy more transparent. Today we provide the most actionable mobile app data &amp; insights in the industry. We want to make this data available to as many people as possible (not just the top 5%).</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "a1c20b49-2f87-974c-3297-369f245068ea",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></gridLayout>
    </about>
    <articlesMain id="1100" key="1c2ee4b8-7ebd-4372-941b-7bef84ad4228" parentID="1127" level="2" creatorID="0" sortOrder="2" createDate="2017-10-04T22:18:47" updateDate="2017-10-08T11:30:42" nodeName="Articles" urlName="articles" path="-1,1127,1100" isDoc="" nodeType="1068" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1067" nodeTypeAlias="articlesMain">
      <articlesBodyText><![CDATA[<p>List of Articles</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesItem id="1142" key="6dab0357-b9ea-426b-821a-8ff26ac5c77b" parentID="1100" level="3" creatorID="0" sortOrder="0" createDate="2017-10-08T17:00:42" updateDate="2017-10-08T17:00:42" nodeName="First Article" urlName="first-article" path="-1,1127,1100,1142" isDoc="" nodeType="1074" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1070" nodeTypeAlias="articlesItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContents><![CDATA[<p>Content first article</p>
<p> </p>]]></articleContents>
        <articleTitle><![CDATA[First Article ]]></articleTitle>
      </articlesItem>
      <articlesItem id="1143" key="da72a517-253e-4255-969d-b878fd2ce899" parentID="1100" level="3" creatorID="0" sortOrder="1" createDate="2017-10-08T17:01:13" updateDate="2017-10-08T17:01:13" nodeName="Second Article" urlName="second-article" path="-1,1127,1100,1143" isDoc="" nodeType="1074" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1070" nodeTypeAlias="articlesItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleContents><![CDATA[<p>Content second article</p>]]></articleContents>
        <articleTitle><![CDATA[Second Article]]></articleTitle>
      </articlesItem>
    </articlesMain>
    <projectsMain id="1101" key="31e384e1-802a-4364-8048-c5ba7748681f" parentID="1127" level="2" creatorID="0" sortOrder="3" createDate="2017-10-04T22:19:22" updateDate="2017-10-11T11:12:42" nodeName="Projects" urlName="projects" path="-1,1127,1101" isDoc="" nodeType="1077" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1076" nodeTypeAlias="projectsMain">
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>List of projects</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectsItem id="1179" key="361759c6-79a7-47f6-bc62-2c58010df6b9" parentID="1101" level="3" creatorID="0" sortOrder="5" createDate="2017-10-11T11:00:43" updateDate="2017-10-11T11:00:46" nodeName="Another completed project" urlName="another-completed-project" path="-1,1127,1101,1179" isDoc="" nodeType="1080" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1079" nodeTypeAlias="projectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Another completed project]]></projectTitle>
        <projectContents><![CDATA[<p>Another completed project content</p>]]></projectContents>
        <status><![CDATA[Completed]]></status>
      </projectsItem>
      <projectsItem id="1180" key="f74b1f3c-0108-4037-bcd3-2c123fdb5609" parentID="1101" level="3" creatorID="0" sortOrder="6" createDate="2017-10-11T11:02:43" updateDate="2017-10-11T11:02:46" nodeName="First project" urlName="first-project" path="-1,1127,1101,1180" isDoc="" nodeType="1080" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1079" nodeTypeAlias="projectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[First project]]></projectTitle>
        <projectContents><![CDATA[<p>First project content</p>]]></projectContents>
        <status><![CDATA[Completed]]></status>
      </projectsItem>
      <projectsItem id="1181" key="b150e1d0-6747-4778-9c49-ef2e1feff0df" parentID="1101" level="3" creatorID="0" sortOrder="7" createDate="2017-10-11T11:03:10" updateDate="2017-10-11T11:03:13" nodeName="Second Project" urlName="second-project" path="-1,1127,1101,1181" isDoc="" nodeType="1080" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1079" nodeTypeAlias="projectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Second Project]]></projectTitle>
        <projectContents><![CDATA[<p>Second Project</p>]]></projectContents>
        <status><![CDATA[Completed]]></status>
      </projectsItem>
      <projectsItem id="1182" key="b0bdcf7b-e056-4fe4-af55-a6a9012a84b2" parentID="1101" level="3" creatorID="0" sortOrder="8" createDate="2017-10-11T11:03:35" updateDate="2017-10-11T11:03:39" nodeName="Third Project" urlName="third-project" path="-1,1127,1101,1182" isDoc="" nodeType="1080" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1079" nodeTypeAlias="projectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Third Project]]></projectTitle>
        <projectContents><![CDATA[<p>Third Project</p>]]></projectContents>
        <status><![CDATA[Idea]]></status>
      </projectsItem>
      <projectsItem id="1183" key="1a8a92b7-7600-44c5-a297-bbb79eee1390" parentID="1101" level="3" creatorID="0" sortOrder="9" createDate="2017-10-11T11:03:58" updateDate="2017-10-11T11:04:00" nodeName="Fourth Project" urlName="fourth-project" path="-1,1127,1101,1183" isDoc="" nodeType="1080" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1079" nodeTypeAlias="projectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Fourth Project]]></projectTitle>
        <projectContents><![CDATA[<p>Fourth Project</p>]]></projectContents>
        <status><![CDATA[Initiated]]></status>
      </projectsItem>
      <projectsItem id="1184" key="cbf60a22-d602-41ae-a6d4-0b0383891d90" parentID="1101" level="3" creatorID="0" sortOrder="10" createDate="2017-10-11T11:04:25" updateDate="2017-10-11T11:04:28" nodeName="Fifth Project" urlName="fifth-project" path="-1,1127,1101,1184" isDoc="" nodeType="1080" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1079" nodeTypeAlias="projectsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectTitle><![CDATA[Fifth Project]]></projectTitle>
        <projectContents><![CDATA[<p>Fifth Project</p>]]></projectContents>
        <status><![CDATA[Under Development]]></status>
      </projectsItem>
    </projectsMain>
    <contactPage id="1105" key="c47ecb57-9f1b-435f-83e3-081ef15a311e" parentID="1127" level="2" creatorID="0" sortOrder="4" createDate="2017-10-04T22:25:25" updateDate="2017-10-08T11:31:00" nodeName="Contact Us" urlName="contact-us" path="-1,1127,1105" isDoc="" nodeType="1103" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1102" nodeTypeAlias="contactPage" />
    <textPage id="1131" key="c6c30427-d0f1-4e60-93a4-1cad41a87a79" parentID="1127" level="2" creatorID="0" sortOrder="7" createDate="2017-10-08T12:01:39" updateDate="2017-10-08T12:01:39" nodeName="Login" urlName="login" path="-1,1127,1131" isDoc="" nodeType="1065" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1118" nodeTypeAlias="textPage">
      <umbracoNaviHide>0</umbracoNaviHide>
    </textPage>
    <textPage id="1132" key="52319516-90d9-488c-9a99-8c341b79a9b1" parentID="1127" level="2" creatorID="0" sortOrder="8" createDate="2017-10-08T12:04:34" updateDate="2017-10-11T11:23:27" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1127,1132" isDoc="" nodeType="1065" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1064" nodeTypeAlias="textPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <mainContent><![CDATA[Forbidden Access! You have to be an Active Member to view this section!]]></mainContent>
    </textPage>
    <members id="1138" key="84185ada-30f5-4914-bc59-7741b0db616f" parentID="1127" level="2" creatorID="0" sortOrder="9" createDate="2017-10-08T14:22:55" updateDate="2017-10-08T14:22:55" nodeName="Members" urlName="members" path="-1,1127,1138" isDoc="" nodeType="1137" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1136" nodeTypeAlias="members">
      <umbracoNaviHide>0</umbracoNaviHide>
    </members>
    <messageBoard id="1189" key="3af9eb8a-33db-445f-971d-693aa92dfd48" parentID="1127" level="2" creatorID="0" sortOrder="10" createDate="2017-10-11T11:56:59" updateDate="2017-10-11T12:19:09" nodeName="Message Board" urlName="message-board" path="-1,1127,1189" isDoc="" nodeType="1188" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="1187" nodeTypeAlias="messageBoard">
      <umbracoNaviHide>0</umbracoNaviHide>
      <message id="1194" key="2e9b5ad1-23ca-4623-8777-d8d8a91f552d" parentID="1189" level="3" creatorID="0" sortOrder="0" createDate="2017-10-11T12:21:08" updateDate="2017-10-11T12:21:43" nodeName="User1" urlName="user1" path="-1,1127,1189,1194" isDoc="" nodeType="1186" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="0" nodeTypeAlias="message">
        <nameMessage><![CDATA[User1]]></nameMessage>
        <messageContent><![CDATA[My first message]]></messageContent>
      </message>
      <message id="1196" key="6670b70c-6133-4899-94e6-b8bb9b1336f7" parentID="1189" level="3" creatorID="0" sortOrder="1" createDate="2017-10-11T12:22:03" updateDate="2017-10-11T12:22:15" nodeName="User2" urlName="user2" path="-1,1127,1189,1196" isDoc="" nodeType="1186" creatorName="Ioana Foghel" writerName="Ioana Foghel" writerID="0" template="0" nodeTypeAlias="message">
        <nameMessage><![CDATA[User2]]></nameMessage>
        <messageContent><![CDATA[Another message]]></messageContent>
      </message>
    </messageBoard>
  </homePAge>
</root>